h1{ color: rgb(0, 0, 0);
    text-align: left; 
    font-family: 'Roboto', sans-serif; 
 }
 
 
 h2{ color:black;
    text-align: left;  
 }
 h2{ color:black;
    text-align: left;  
 }
 
 p{color : rgb(3, 3, 154);
 }
 
 body{background-color: rgb(249, 174, 185);
     }