h1{ color: rgb(0, 0, 0);
    text-align: left;  
    font-family: 'Chango', sans-serif;
 }

 h2{ color: rgb(0, 0, 0);
    text-align: left;  
    font-family: 'Englebert', sans-serif;
 }

 .chango-regular {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .englebert-regular {
    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
  }
  